<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="logo.PNG" alt="HIWFRS Logo">
      <!--<a class="navbar-brand" href="/" text-align: center> Hampshire & Isle of Wight Fire and Rescue Service</a>-->
      <div class="navbar">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">
            Home <span class="sr-only">(current)</span>
          </a>
          <a class="nav-link" href="/employee"> Employees</a>
          <a class="nav-link" href="/overtimeCode"> Overtime Codes</a>
          <a class="nav-link" href="/searchOvertime"> Search Overtime Claims</a>
        
          <% if(employee) { %>
          <a class="nav-link" href="/createClaim"> Creat Overtime Claim </a>
          <a class="nav-link" href="/logout"> <%= employees.payrollNumber %> (Logout) </a> <%
          }%> <% if(!employee) { %>
          <a class="nav-link" href="/login"> Login </a>
          <a class="nav-link" href="/join"> Sign Up </a>
          <% } %>
        </div>
      </div>
    </nav>
  </header>
  ;
  